.post-box {
    border: 1px;
    border-bottom: thick;
    border-style: solid;
    border-color: black; 
    border-radius: 12px;
    width: 60%;
    margin: auto;
    padding: 1em;
}

.input-name {
    margin-right: 12px;

}

.input-post {
    margin: 12px;
    vertical-align: top;
}

.input-box {
    margin: .25em;
    width: 325px;
}
 
.post-list {
    border: 1px;
    border-bottom: thick;
    border-style: solid;
    border-color: black; 
    border-radius: 12px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-left: 170px;
    padding: 2em;
    padding-bottom: 3em;
}

.display-list {
    list-style: none;
}

.text-muted {
    color: gray
}

.btn {
    float: right;
    background-color: rgb(0, 89, 255);
    color: white;
    border-radius: 4px;
    margin-top: 2em;
    padding: 0.25em 1em;
    cursor: pointer;
}


